.App {
  text-align: center;
  width: 350px;
  margin: 30px auto;
}

h1{
  margin: 0;
}

h2,h3,h4{
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}


body{
  font-family: "Lato",sans-serif;
  background-color: #f7f7f7;
}

.current-balance-container{
  /* margin-bottom: -20px; */
  /* border: 1px solid red; */
  text-transform: uppercase;
  font-weight: bold;
}

.current-balance-heading{
  /* margin: 0; */
  /* border: 1px solid red; */
  /* text-transform: uppercase; */
  font-weight: bold;
}

.current-balance{
  font-size: 35px;
  margin: -15px;
  /* padding: 0px; */
  /* margin-bottom: 0px; */
  text-transform: uppercase;
  /* border: 1px solid blue; */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}


.expense{
  /* border: 1px solid blue; */
  background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    /* box-shadow: var(--box-shadow); */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.income-expense {
  /* border: 1px solid rgb(158, 158, 161); */
  border-right: 1px solid #dedede;
  flex: 1 1;
    /* text-align: center; */
}

.expense-expense{
  flex: 1 1;
}

.plus-expense{
  color: #22702c;
    font-weight: 700;
    font-size: 20px;
    /* letter-spacing: 1px; */
    margin: 5px 0;
    margin-top: -13px;
}

.minus-expense{
  color: #9b1111;
  font-weight: 700;
  font-size: 20px;
  /* letter-spacing: 1px; */
  margin: 5px 0;
  margin-top: -13px;
}


.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}

.list li.plus, .list li.plus:hover {
  border-right: 5px solid #22702c;
}

.list li.plus:hover {
  background-color:  #22702c;
  color: white;
}
.list li.minus:hover {
  background-color:  #9b1111;
  color: white;
}

.list li.minus,.list li.minus:hover {
  border-right: 5px solid #9b1111;
}
.list li {
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  /* box-shadow: var(--box-shadow); */
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.delete-btn {
  cursor: pointer;
  background-color: #704741;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%,-50%);
  opacity: 0;
  transition: opacity .3s ease;
  /* border:1px solid green; */
}

.list li:hover .delete-btn {
  opacity: 1;
}


.des-trans{
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin: 8px;
}

.example{
  text-align: left;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 12px;
  margin-left: 13px;
  /* top: 0; */
  /* margin-bottom: 12px; */
  /* border: 1px solid green; */
}

input{
  display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input:focus { 
  /* outline: none !important; */
  outline-color: #719ECE ;
  /* border: 0; */
  border-color: #719ECE;
  box-shadow: 0px 0px 10px #719ECE;
}

.add-transaction{
  cursor: pointer;
  background-color: #0a4ba1;
  /* box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); */
  /* box-shadow: var(--box-shadow); */
  color: #fff;
  border: 0;
  border-radius: 15px;
  margin: 10px 0 30px;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  margin: 0;
}
